[Unit]
Description=Show Plymouth-lite Reboot Screen
DefaultDependencies=no
Before=reboot.service
After=plymouth-lite-start.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=-/var/lib/environment/plymouth/*.conf
ExecStart=/usr/bin/ply-image $SPLASH_REBOOT_IMAGE
