[Unit]
Description=Show Plymouth-lite Poweroff Screen
DefaultDependencies=no
Before=poweroff.service
After=plymouth-lite-start.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=-/var/lib/environment/plymouth/*.conf
ExecStart=/usr/bin/ply-image $SPLASH_POWEROFF_IMAGE
