[Unit]
Description=Show Plymouth-lite Halt Screen
DefaultDependencies=no
Before=halt.service
After=plymouth-lite-start.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=-/var/lib/environment/plymouth/*.conf
ExecStart=/usr/bin/ply-image $SPLASH_HALT_IMAGE
